@media all and (max-width: 830px){
    .container{
        max-width: 315px;
    }

    .items_pr {
        grid-template-rows: repeat(6, 385px);
        grid-template-columns: 1fr;
        row-gap: 26px;
        column-gap: 20px;
    }

    .parent {
        height: 302px;
    }

    .items_pr>div>p:first-of-type {
        text-align: center;
        margin: 15px 0 2px 0;
    }

    .items_pr>div>p:nth-of-type(2) {
        text-align: center;
    }

    .child {
        height: 262px;
        bottom: 19px;
    }

}