@media all and (max-width: 830px){
    .container{
        max-width: 315px;
    }

    .bunner {
        padding: 136px 0;
        background: url('../../images/Bg Patterns.svg') no-repeat center center, url('../../images/bg_shop.jpg') no-repeat center center;
        background-size: cover;
    }

    
    .products {
        grid-template-rows: repeat(12, 454px);
        grid-template-columns: 1fr;
    }

    .price {
        margin-top: 324px;
    }

    .subscribe {
        padding-bottom: 80px;
    }

    .subscribe>div.container>div {
        padding: 40px 20px;
        flex-direction: column;
        row-gap: 25px;
    }

    .subscribe>div.container>div>p {
        font-size: 28px;
        text-align: center;
    }

    #subs input {
        width: 255px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #subs button {
        width: 150px;
        display: block;
        margin: 0 auto;
    }

    footer {
        padding-bottom: 50px;
    }

    .info_item {
        flex-direction: column;
        align-items: center;
    }

    .cont_us {
        padding-right: 0;
        border-right: 0;
        border-bottom: 1px solid #d4d4d4;
        margin-bottom: 20px;
    }

    .cont_us>p {
        text-align: center;
        margin-bottom: 25px;
    }

    .cont_us>ul {
        align-items: center;
    }

    .cont_us>ul>li>p:first-of-type {
        text-align: center;
    }

    .cont_us>ul>li>p:last-of-type {
        font-size: 16px;
        line-height: 135%;
        text-align: center;
        margin-bottom: 25px;
    }

    .sc_media {
        padding: 0px 0px;
        border-right: 0;
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 26px;
    }

    .sc_media>p {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .util_pages {
        padding: 25px 0px;
    }

    .util_pages>p {
        text-align: center;
        margin-bottom: 20px;
    }

    .util_pages > ul > li {
        text-align: center;
    }

    .copyr>div.container>p {
        font-size: 14px;
    }


}